:root {
    --item-margin-bottom: 18px;
    --main-color: rgb(236, 0, 140);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'OpenSans', sans-serif;
}

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* HEADER */
.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-brand {
    margin-bottom: 20px;
}

.page-navigation__items {
    width: 50%;
    list-style: none;
}

.page-navigation__item {
    transition: transform .2s;
}

.page-navigation__item:hover {
    transform: translateX(5%);
}

.page-navigation__name {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 6.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-color);
    line-height: 40px;
}



/* CONTENT */
.page-content {
    width: 100%;
    padding: 0 180px 0 220px;
    background-image: url(./images/background.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    text-align: right;
}

.content-section__header {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 80px 0 40px;
}


/* HOME */
.band-members {
    width: 65vw;
    display: flex;
    flex-direction: row;
    /* flex-shrink: 1; */
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    list-style: none;
}

.band-members__item {
    height: 100%;
    margin: 0 2vw 0 0;
    text-align: left;
}

.band-members__name {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(204, 200, 255, 1);
    margin: 40px 0 20px;
}

.band-members__desc {
    font-size: 12px;
    letter-spacing: 2px;
    color: rgba(204, 200, 255, 0.7);
}

/* ABOUT */
.about__image {
    width: 58%;
    border-top: 3px solid var(--main-color);
}

.about-section__desc {
    background-color: rgb(37, 12, 49);
    position: absolute;
    top: 50%;
    right: 52%;
    width: 400px;
    border-bottom: 3px solid var(--main-color);
    padding: 30px;
}

.about-section__desc-header {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: rgb(204, 200, 225);
    text-align: left;
    margin-bottom: 30px;
}

.about-section__desc-details {
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 22px;
    color: rgb(204, 200, 225);
    text-align: left;
}

/* CONCERTS */
.concerts {
    margin-left: 30vw;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 40px;
}

.concerts__image {
    width: 100%;
    object-fit: cover;
    border-bottom: 3px solid var(--main-color);
    margin-bottom: 8px;
}

.concerts__info {
    display: grid;
    grid-template: repeat(2, 50%) / repeat(2, 50%);
}

.concerts__date {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 30px;
    color: rgb(204, 200, 225);
    justify-self: left;
}

.concerts__location {
    grid-row: 2/3;
    justify-self: left;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 20px;
    color: rgb(204, 200, 225);
    justify-self: left;
}

.button {
    background-color: rgba(204, 200, 225, 0.15);
    border: none;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(204, 200, 225);
    text-transform: uppercase;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color .2s;
}

.button:hover {
    background-color: rgba(204, 200, 225, 0.25);
}


.concerts__button {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: right;
    align-self: center;
    width: 60%;
}

/* VIDEO */
.video__link {
    border-top: 3px solid var(--main-color);
}

/* PHOTOS */

.gallery {
    list-style: none;
    margin-left: 18vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.gallery__item {
    width: 32%;
    margin-bottom: 20px;
    border-top: 3px solid var(--main-color);
    overflow: hidden;
}

@supports (display: grid) {
    .gallery {
        list-style: none;
        margin-left: 18vw;
        display: grid;
        grid: repeat(3, 1fr) / repeat(3, 1fr);
        grid-gap: 20px
    }

    .gallery__item {
        width: auto;
        margin-bottom: 0;
        border-top: 3px solid var(--main-color);
        overflow: hidden;

    }
}

.gallery__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform .4s;
}

.gallery__image:hover {
    transform: scale(1.05);
}

/* CONTACT */
.contact-section__info {
    margin-left: 18vw;
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
}

.contact__image {
    width: 100%;
}

.contact__adress {
    text-align: left;
    align-self: center;
    margin-left: 50px;
    font-size: 13px;
    letter-spacing: 1.5px;
    line-height: 20px;
    color: rgb(204, 200, 225);
    font-style: normal;
}

.form {
    text-align: left;
    width: 60%;
    margin-top: 20px;
}

.form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__label {
    font-size: 13px;
    letter-spacing: 1.5px;
    line-height: 30px;
    color: rgb(204, 200, 225);
}

.form__input {
    height: 36px;
    border: none;
    background-color: rgba(204, 200, 225, 0.15);
    border-radius: 6px;
    color: rgb(204, 200, 225);
}

.form__button {
    margin-top: 20px;
    width: 140px;
}

/* FOOTER */
.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.social-links {
    list-style: none;
}

.social-links__icon {
    color: var(--main-color);
    font-size: 30px;
    margin-top: 15px;
}


@media (max-width: 767px) {

    /* HEADER */
    .page-header {
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
        width: 100%;
        z-index: 2;
    }

    .page-brand {
        position: fixed;
        top: 0;
        left: 0;
        height: 100px;
        width: 100%;
        background-color: rgb(24, 4, 33);
        z-index: 1;
    }

    .page-brand__logo {
        margin: 36px 0 0 30px;
        height: 28px;
    }

    .hamburger {
        position: fixed;
        top: 38px;
        right: 30px;
        height: 22px;
        width: 30px;
        z-index: 1;
    }

    .hamburger__inner,
    .hamburger__inner::before,
    .hamburger__inner::after {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 2px;
        width: 100%;
        background-color: var(--main-color);
        transition: background-color .2s, transform .4s .2s;
    }

    .hamburger--active .hamburger__inner {
        background-color: transparent;
    }

    .hamburger__inner::before {
        content: "";
        top: -10px;
        transform: none;
    }

    .hamburger__inner::after {
        content: "";
        top: 10px;
        transform: none;
    }

    .hamburger--active .hamburger__inner {
        background-color: transparent;
    }

    .hamburger--active .hamburger__inner::before {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger--active .hamburger__inner::after {
        transform: translateY(-10px) rotate(-45deg);
    }

    .page-navigation {
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(100%);
        margin: 100px 30px 0 30px;
        height: 100%;
        width: 100%;
        background-color: rgb(24, 4, 33);
        transition: transform .6s;
    }

    .page-navigation--active {
        transform: translateX(0);
    }

    .page-navigation__name {
        line-height: 50px;
    }

    /* CONTENT */
    .page-content {
        padding: 0 30px;
        overflow: hidden;
        background-image: none;
        background-color: rgb(24, 4, 33);
    }

    .content-section {
        min-height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }

    .content-section:nth-last-child(1) {
        min-height: 100vh;
    }

    .content-section__header {
        font-size: 16px;
        letter-spacing: 3px;
        padding: 0;
        margin-bottom: 22px;
    }

    /* HOME */
    .band-members {
        position: static;
        transform: none;
        height: calc(100vh - 140px);
        width: 100%;
        display: grid;
        grid-template: repeat(2, 50%) / repeat(2, 50%);
        overflow: hidden;
    }

    .band-members__item {
        height: auto;
        width: 100%;
        margin: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .band-members__image {
        height: 70%;
        object-fit: contain;
        margin-bottom: 10px;

    }

    .band-members__name,
    .band-members__desc {
        display: none;
        font-size: 10px;
        letter-spacing: 2px;
        margin: 0;
    }

    /* ABOUT  */
    .about__image {
        width: 100%;
        border-top: 2px solid var(--main-color);
        margin-bottom: var(--item-margin-bottom);
    }

    .about-section__desc {
        position: static;
        width: 100%;
        border-bottom: none;
        padding: 0;
        background-color: transparent;
    }

    .about-section__desc-header {
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: rgb(204, 200, 225);
        text-align: left;
        margin-bottom: 10px;
    }

    .about-section__desc-details {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 18px;
        color: rgb(204, 200, 225);
        text-align: left;
    }

    /* CONCERTS */
    .concerts {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .concerts__item {
        margin-bottom: var(--item-margin-bottom);
    }

    .concerts__item:nth-last-child(1) {
        margin-bottom: 0;
    }

    .concerts__image {
        border-bottom: 2px solid var(--main-color);
        margin-bottom: 4px;
    }

    .concerts__date {
        line-height: 20px;
    }

    .button {
        font-size: 12px;
    }

    /* VIDEO */
    .video__link {
        border-top: 2px solid var(--main-color);
        height: auto;
        width: 100%;
        object-fit: scale-down;
    }

    /* PHOTOS */
    .gallery {
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .gallery__item {
        width: 100%;
        border-top: 2px solid var(--main-color);
        margin-bottom: var(--item-margin-bottom);
    }

    .gallery__item:nth-last-child(1) {
        margin-bottom: 0;
    }

    /* CONTACT */
    .contact-section__info {
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .contact__image {
        margin-bottom: var(--item-margin-bottom);
    }

    .contact__adress {
        margin-left: 0;
        align-self: flex-start;
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: var(--item-margin-bottom);
    }

    .form {
        text-align: left;
        width: 100%;
        margin: 0;
    }

    .form__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .form__label {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .form__button {
        margin: 0;
        margin: 10px 0 0 0;
    }

    .form__field:last-child {
        margin: 0;
    }

    /* FOOTER */
    .page-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 40px 40px 40px;
        z-index: 2;
        transform: translateX(100%);
        transition: transform .6s;
    }

    .page-footer--active {
        transform: translateX(0);
    }

    .social-links {
        display: flex;
        justify-content: space-between;
    }

    .social-links__icon {
        font-size: 24px;
    }
}